:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;



  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  color: #a381d6;
  text-decoration: inherit;
}
a:hover {
  color: #fdfeff;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(79, 72, 72);
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f3f4f8;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  display: flex;
  gap: 20px;
  padding: 30px;
  color: #ffffff;
}

header img {
  width: 50px;
}
/* App.jsx */

.view-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.view-buttons button:nth-child(1) {
  border-radius: 6px 0 0 6px;
}

.view-buttons button:nth-child(2) {
  border-radius: 0 6px 6px 0;
}
.active {
  background-color: blueviolet;
  color: #ffffff;
}

/* MapView */

.leaflet-container {
  width: 100%;
  height: 80vh;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.popup button {
  width: 100%;
  background-color: #1a1a1a;
  color: #ffffff;
}

/* SideDetail */

.showDetail {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.detail-inner{
  background-color: black;
  height: 90vh;
  padding: 20px;
  width: 300px;
  border-radius:10px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0 ;
}

.close-detail{
  font-weight: bolder;
 padding-right: 7px;
 padding-top: 0px;
 display: flex;
 justify-content: end;
}

.close-detail span{
  cursor: pointer;}

  .loading-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }